* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #B2FEFA;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #0ED2F7, #B2FEFA);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #0ED2F7, #B2FEFA); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    font-family: 'Open Sans', sans-serif;
}

h1 {
    font-family: 'Poppins', sans-serif;
}

label {
    font-family: 'Poppins', sans-serif;
}

input {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    margin: 10px;
    width: 90%;
}

textarea {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    width: 90%;
    margin: 20px;
}

form {
    margin-top: 5%;
    padding: 10px;
    width: 25rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-color: #17948F;
    border-radius: 20px;
    box-shadow: -10px -10px 35px -5px #000000;
    color: white;
}

a {
    text-decoration: none;
    background-color: rgb(255, 183, 56);
    border-radius: 10px;
    color: black;
    width: 5rem;
    text-align: center;
    box-shadow: -10px -10px 15px -5px #000000;
}